<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="15000">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

    <div class="item active">
      <img src="http://i.imgur.com/TN8c9yl.jpg" alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>

    <div class="item">
      <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2015/5/5/1430821289014/d89ebe99-fa85-42c9-aa57-546787bf4ccf-2060x1236.jpeg" alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <img src="http://i.imgur.com/Cj4QJZj.jpg" alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
  </div>


  <!-- Controls -->

</div>
