<div class="container">
<div class="jumbotron">
  <h2>My </> Blog</h2>
  <p> A little about my self...my experience as a noob...
  my journey to becoming a great developer</p>
  <%= link_to "About Me", abouts_path, class:'btn btn-primary btn-m'%>
</div>
</div>
