    <h1>Welcome to my First Sinatra Application</h1>
    <!--puts ruby code  -->
    <% name = "Tam"%>
    <%= name.capitalize.reverse %>
    <% if 10 > 4 %>
      <p> Hello World </p>
      <% else %>
      <p> Hello There </p>
      <% end %>
<img src="/images/download.jpeg">
