  <nav class="navbar-footer">
    <div class="navbar-body">
      <ul class="nav navbar-nav">
        <li><i  class="fa fa-facebook"></i></li>
        <li><i class="fa fa-git"></i></li>
        <li><i class="fa fa-linkedin"></i></li>
        <li><i class="fa fa-twitter"></i></li>
        <li><i class="fa fa-slack"></i></li>
      </ul>
    </div>
  </nav>
    <!-- <div class="copyright">
      <p>Copy Right©</p>
    </div> -->
