<div id="about_me">
  <div class="about me">
    <h3> David Lin is my name.. </h3>
      <p> Who's asking? Discover more about me below</p>
  </div>

  <div class="about summary">
    <%= image_tag "" %>
  </div>
